.dropdown-menu{
width: 62% !important;
transform: translate(1px, 57px) !important;
font-family:cursive;
}
.dropdown-menu a:hover{
    background-color:violet;
    margin:4px;
    }
#dropdown-menu-align-right{
    width:60%  !important
}

@media only screen and (max-width: 550px) {
    .dropdown-menu{
        width: 30% !important;
        transform: translate(1px, 57px) !important;
        font-family:cursive;
        }
  }